.home-bar {
  width: 960px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  font-size: 14px;
  font-weight: bolder;
  color: white;
}

.home-bar-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home-demo {
  border-radius: 4px;
  border: 2px solid;
  cursor: pointer;
  padding: 8px 24px;
  border-color: white;

  &:hover {
    background: white;
    color: #666;
  }

  &:active {
    color: #999;
  }
}

.home-login {
  border-radius: 4px;
  border: 2px solid;
  cursor: pointer;
  border-color: transparent;
  margin-right: 10px;

  a {
    text-decoration: none;
    color: white;
    display: block; // need it for vertical padding
    padding: 9px 12px;
  }

  &:hover {
    border-bottom: 2px solid white;
  }

  &:active {
    a {
      color: #999;
    }
  }
}

.home-signup {
  border-radius: 4px;
  border: 2px solid;
  cursor: pointer;
  border-color: white;

  a {
    text-decoration: none;
    color: white;
    display: block; // need it for vertical padding
    padding: 8px 24px;
  }

  &:hover {
    background: white;

    a {
      color: #666;
    }
  }

  &:active {
    a {
      color: #999;
    }
  }
}

// when logged in
.dropdown {
  display: flex;
  align-items: center;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  overflow: hidden;
  width: 58px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.35);
  }

  &:active {
  background-color: rgba(0, 0, 0, 0.45);
  }
}

.home-avatar {
  height: 38px;
  width: auto;
}

#down-arrow {
  margin: 6px;
  color: white;
  font-size: 12px;
}
