// home header background
.home-header-1 {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), asset-url("home.jpeg");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  opacity : 0.9;
  height: 600px;
}

.home-header-2 {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), asset-url("home2.jpeg");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  opacity : 0.9;
  height: 600px;
}

// logo
.logo {
  margin: 50px auto;
  width: 170px;

  img {
    height: 80px;
    width: auto;
    margin: 0 auto;
    cursor: pointer;
  }
}

// links
.home-header-links {
  margin: 20px auto;
  font-size: 14px;
  color: white;
  text-align: center;
  background-color: transparent;

  a {
    font-weight: bold;
    color: white;
  }
}

.home-header-link {
  i {
    margin-right: 10px;
  }

  a {
    margin-right: 30px;
  }
}

// home search bar
.search-bar {
  display: flex;
}

.home-search {
  margin: 0 auto;
  height: 45px;
  width: 960px;
  font-size: 18px;
  text-align: center;

  .input {
    display: flex;
    justify-content: flex-start;
    background-color: white;
    height: 23px;
    padding: 11px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .find {
    display: flex;
    justify-content: flex-start;
    width: 458px;
    padding-right: 11px;

    input {
      width: 409px;
    }
  }

  .near {
    display: flex;
    justify-content: flex-start;
    padding-left: 11px;
    width: 394px;
    border-left: 1px rgb(204, 204, 204) solid;

    input {
      width: 341px;
    }
  }

  label {
    padding-top: 1px;
    font-weight: bold;
    color: #555;
    margin-right: 12px;
  }
}

.home-search input {
  border: none;
  &:focus {
    outline: none;
  }
}

.home-search .submit {
  border: none;
  color: white;
  background-color: $yelpy-red;
  width: 58px;
  height: 45px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #be2020;
  }

  &:active {
    background-color: #a91c1c;
  }
}
