.business-header-row1, .business-header-row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 960px;
  margin: 0 auto;
  height: 100%;
}

// row 1
.business-header-row1-wrapper {
  padding: 12px 0;
  background-color: $yelpy-red;
}

business-logo {
  margin: 0 4px;
}

.business-search {
  width: 754px;
  height: 36px;
  background-color: white;
  margin: 0 20px;
  text-align: center;
  font-size: 14px;
  border-radius: 4px;
}

business-signup {
  padding: 10% 0;
}

.business-signup a {
  text-align: center;
  width: 80px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  display: block;
  padding: 10px 12px;
  background-color: rgb(189, 31, 31);
  border-radius: 4px;
  vertical-align: middle;
}

.business-signup:hover a {
  background-color: #a71c1c;
  text-decoration: none;
}

// row 2

.business-header-row2-wrapper {
  vertical-align: middle;
  height: 27px;
  background-color: rgb(189, 31, 31);
}

.business-header-row2 {
  font-size: 13px;
  font-weight: bold;
  color: white;
  height: 100%;
}

.business-header-row2-right {
  display: flex;
  height: 100%;
}

.business-login {
  line-height: 27px;
}

.business-login a {
  display: block;
  padding: 0 12px;
  width: 80px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.business-demo:hover, .business-login a:hover {
  text-decoration: none;
  background-color: rgba(51,51,51,0.3);
}

.business-header-links {
  color: white;
  line-height: 27px;
}

.business-header-links a {
  display: block;
  padding: 0 12px;
  color: white;
}

.business-header-links a:hover {
  text-decoration: none;
  background-color: rgba(51,51,51,0.3);
}

.business-demo {
  padding: auto;
  width: 120px;
  cursor: pointer;
  margin-right: 20px;
  text-align: center;
  line-height: 27px;
}
