.business-header-row1, .business-header-row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 960px;
  margin: 0 auto;
  height: 100%;
}

// row 1
.business-header-row1-wrapper {
  padding: 12px 0;
  background-color: $yelpy-red;
}

business-logo {
  margin: 0 4px;
}

// business search bar
.business-search {
  width: 754px;
  height: 36px;
  margin: 0 20px;
  text-align: center;
  font-size: 14px;
}

.business-search .input {
  display: flex;
  height: 26px;
  justify-content: flex-start;
  background-color: white;
  padding: 5px 11px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.business-search .find {
  display: flex;
  justify-content: flex-start;
  width: 325px;
  padding-right: 11px;
}

.business-search .near {
  display: flex;
  justify-content: flex-start;
  padding-left: 11px;
  width: 325px;
  border-left: 1px rgb(204, 204, 204) solid;
}

.business-search input {
  border: none;
}

.business-search input:focus {
  outline: none;
}

.business-search label {
  padding-top: 5px;
  font-weight: bold;
  color: black;
  margin-right: 5px;
}

.business-search .submit {
  border: none;
  color: white;
  background-color: #be2020;
  width: 66px;
  height: 36px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.business-search .submit:hover {
  background-color: #a91c1c;
}

//
business-signup {
  padding: 10% 0;
}

.business-signup a {
  text-align: center;
  width: 80px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  display: block;
  padding: 10px 12px;
  background-color: rgb(189, 31, 31);
  border-radius: 4px;
  vertical-align: middle;
}

.business-signup:hover a {
  background-color: #a71c1c;
  text-decoration: none;
}

// row 2

.business-header-row2-wrapper {
  vertical-align: middle;
  height: 27px;
  background-color: rgb(189, 31, 31);
}

.business-header-row2 {
  font-size: 13px;
  font-weight: bold;
  color: white;
  height: 100%;
}

.business-header-row2-right {
  display: flex;
  height: 100%;
}

.business-login {
  line-height: 27px;
}

.business-login a {
  display: block;
  padding: 0 12px;
  width: 80px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.business-demo:hover, .business-login a:hover {
  text-decoration: none;
  background-color: rgba(51,51,51,0.3);
}

.business-header-links {
  color: white;
  line-height: 27px;
}

.business-header-links a {
  display: block;
  padding: 0 30px;
  color: white;
}

.business-header-links a:hover {
  text-decoration: none;
  background-color: rgba(51,51,51,0.3);
}

.business-demo {
  padding: auto;
  width: 120px;
  cursor: pointer;
  margin-right: 20px;
  text-align: center;
  line-height: 27px;
}
