.title {
  background-color: rgb(245, 245, 245);
  margin: 0;
  padding: 20px 0 20px 0;
	border-bottom: 1px solid rgb(230, 230, 230);
}

.title h1 {
  font-size: 21px;
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.business-index-main {
  background-color: white;
  padding: 20px 0;
}

.center ol {
  margin: 0;
  padding: 0;
	list-style-position: inside;
}

.index-grid-row1 {
  display: flex;
  justify-content: space-between;
}

.index-grid-col1 {
  width: 630px;
}

.index-grid-col2 {
	// position: relative;
}

.index-map {
  width: 300px;
  height: 300px;
  border: 1px solid rgb(204, 204, 204);
}

.css-sticky {
	position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

.index-grid-row2 {
  display: flex;
  justify-content: flex-end;
}

.add-business {
  margin-top: 24px;
  width: 278px;
  height: 125px;
  padding: 11px;
  background-color: rgb(245, 245, 245);
  border-radius: 3px;
  border: 1px solid rgb(230, 230, 230);

}

.add-business h3 {
  font-size: 16px;
  margin-top: 0;

}

.add-business p {
  font-size: 14px;
  display: block;
  margin: 15px 0;
}

.add-business-link a {
	flex: 1;
  margin: 10px 0;
	border: 1px solid #4D4D4D;
	border-radius: 3px;
	font-size: 12px;
  font-weight: bold;
	padding: 7px 8px;
	color: white;
	background-color: $yelpy-red;
}

.add-business-link a:hover {
	cursor: pointer;
	background-color: #ed0008;
  text-decoration: none;
}
