.business-show-title {
  background-color: rgb(245, 245, 245);
  margin: 0;
  padding: 30px 0 20px 0;
  font-size: 16px;
	border-bottom: 1px solid rgb(230, 230, 230);
}

.business-show-title h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.business-show-title-row1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.business-show-title-col {
  width: 40%;
}

.business-show-title-row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  width: 288px;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
  font-size: 14px;
}

.info a:hover {
  cursor: pointer;
}

.show-map {
  width: 286px;
  height: 135px;
  border: 1px solid rgb(204, 204, 204);
  margin: 0 auto;
}

.text-info {
  margin: 10px;
  line-height: 20px;
}

.pictures img {
  width: 200px;
  height: auto;
  transition: 0.5s;
}

.pictures img:hover {
  width: 230px;
  height: auto;
  transition: 0.5s;
}

.add-review-link a {
	flex: 1;
  margin: 10px 0;
	border: 1px solid #4D4D4D;
	border-radius: 3px;
	font-size: 14px;
  font-weight: bold;
	padding: 10px 12px;
	color: white;
	background-color: $yelpy-red;
}

.add-review-link a:hover {
	cursor: pointer;
	background-color: #ed0008;
  text-decoration: none;
}
