.home-bar {
  width: 960px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  font-size: 14px;
  font-weight: bolder;
  color: white;
}

// group css

.home-bar-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.home-demo, .home-login, .home-signup {
  border-radius: 4px;
  border: 2px solid;
  cursor: pointer;
}

.home-login > a, .home-signup > a {
  text-decoration: none;
  color: white;
}

// individual divs
.home-demo {
  padding: 8px 24px;
  border-color: white;
}

.home-login {
  border-color: transparent;
  margin-right: 10px;
}

.home-login > a {
  display: block; // need it for vertical padding
  padding: 9px 12px;
}

.home-signup {
  border-color: white;
}

.home-signup > a {
  display: block; // need it for vertical padding
  padding: 8px 24px;
}

// hover
.home-demo:hover, .home-signup:hover {
  background: white;
}

.home-demo:hover, .home-signup:hover a {
  color: #666;
}

.home-login:hover {
  border-bottom: 2px solid white;
}

// active
.home-demo:active, .home-login:active a, .home-signup:active a {
  color: #999;
}

// when logged in
.dropdown {
  display: flex;
  align-items: center;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  overflow: hidden;
}

.dropdown:hover {
  background-color: rgba(0, 0, 0, 0.35);
}

.dropdown:active {
  background-color: rgba(0, 0, 0, 0.45);
}

.home-avatar {
  height: 38px;
  width: auto;
}

.down-icon {
  height: 100%;
}

.down-icon {
  display: block;
  height: 5px;
  width: 5px;
  padding: 5px;
}

// dropdown box
.dropdown-box {
  background-color: white;
  border-radius: 3px;
  margin-top: 10px;
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #0073bb;
  width: 190px;

  position: absolute;
  top: 30px;
  right: 0;
  z-index: 1;
}

.dropdown-box-row1 {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.dropdown-avatar-wrapper {
  border-radius: 3px;
  width: 60px;
  height: 60px;
  overflow: hidden;
}

.dropdown-avatar {
  width: 100%;
  height: auto;

}

.dropdown-name {
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
}

.dropdown-box-row2 {
  font-weight: normal;
  padding-top: 10px;
  color: #0073bb;
  font-size: 14px;
  width: 51px;
}

.dropdown-box-row2:hover {
  text-decoration: underline;
  cursor: pointer;
}
