// Place all the styles related to the Api::Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.show-grid {
  display: flex;
  margin-top: 18px;
  margin-bottom: 36px;
}

.show-grid-col1 {
  padding-right: 30px;
  border-right: 1px solid rgb(230, 230, 230);
}

.show-grid-col1 h2 {
  margin-top: 0;
}

.show-grid-col2 {
  font-size: 14px;
  padding-left: 30px;
}

#hours {
  text-align: left;
  font-size: 14px;
}

#hours th {
  width: 36px;
  padding-right: 18px;
}

.show-grid-col2 h3 {
  margin-top: 0;
}

.show-grid-col2 p {
  margin: 0;
  padding-bottom: 8px;
}

.edit-business-link {
  color: rgb(0, 115, 187);
  margin: 5px 0 24px 0;
  // font-size: 14px;
}
.review-index-pic {
  border-radius: 3px;
  overflow: hidden;
  height: 90px;
  width: 90px;
  margin-right: 12px;
}

.black {
  color: black;
}

.review-index-item {
  padding: 18px 0;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
}

.review-index-item:first-child {
  border-top: 1px solid #e6e6e6;
}

.review-index-left {
  display: flex;
  font-size: 16px;
  margin-right: 20px;
}

.review-index-left a {
  font-size: 14px;
}

.review-author {
  margin-bottom: 10px;
}

.review-index-right {
  font-size: 14px;
  width: 350px;
}

.review-index-col2 {
  width: 100px;
}

.input-wrapper textarea {
  width: 100%;
  height: 400px;
  padding: 5px;
  font-size: 14px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.review-placehoder {
  font-size: 14px;
  padding: 10px 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
