.review-form {
  padding: 15px 0 36px 0;
  h3 {
    padding: 0 0 6px 0;
    border-bottom: 1px solid #e6e6e6;
    margin: 0;
  }
  line-height: 18px;
}

.review-form-col-1 {
  width: 645px;
  padding-right: 15px;

  .label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
  }

  .review-form-input {
    border: 1px solid #999;
    border-radius: 3px;
    padding: 18px 15px 0 15px;
    margin-bottom: 12px;
    font-size: 14px;
  }

  .star-line {
    display: flex;
    align-items: center;
    padding-bottom: 18px;
  }

  .rating-star {
    font-size: 1.5em;
    margin-right: 9px;
  }

  textarea {
    resize: none;
    width: 597px;
    min-height: 156px;
    border: none;
    padding: 18px 2px;
    border-top: 1px solid #e6e6e6;
    line-height: 18px;
  }

  textarea:focus {
    outline: none;
  }
}

.review-form-business {
  margin: 11px 0;

  img {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    margin-right: 12px;
  }

  .business-name-link {
    font-size: 14px;
    font-weight: bold;
  }
}

.review-form-col-2 {
  border-left: 1px solid #e6e6e6;
  width: 315px;
  padding-left: 15px;

  ul {
    margin: 0;
    padding: 0;
  }
}

.review-form-review-placehoder {
  font-size: 14px;
  padding: 10px 0;
  border-bottom: 1px solid #e6e6e6;
}

.review-form-index-item {
  padding: 18px 0 17px 0;
  border-bottom: 1px solid #e6e6e6;
  font-size: 14px;

  img {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    margin-right: 9px;
  }
}

.subtle-text-left {
	color: #999;
}

.input-wrapper-narrow {
	display: flex;
	margin: 1px;
	width: 150px;
  margin-right: 12px;
	button {
		flex: 1;
		border: 1px solid #4D4D4D;
		border-radius: 3px;
		font-size: 14px;
		padding: 8px 19px;
		cursor: pointer;

		font-weight: bold;
		color: white;
		background-color: $yelpy-red;
	}

	button:hover {
		background-color: #ed0008;
	}
}

.flex-left-center {
  display: flex;
  align-items: center;

  a {
    font-size: 12px;
  }
}
