.filter {
  font-size: 16px;
  font-weight: bold;
}
.filter label, .filter select {
  font-size: 14px;
}

.filter label {
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

.price-filter {
  display: flex;
}

.price-filter-col {
  margin-right: 20px;
}

.reset-filter {
  margin-top: 20px;
  width: 100px;
  text-align: center;
  border: 1px solid #4D4D4D;
	border-radius: 3px;
	font-size: 12px;
  font-weight: bold;
	padding: 7px 8px;
	color: white;
	background-color: $yelpy-red;
}

.reset-filter:hover {
  cursor: pointer;
	background-color: #ed0008;
}
