// sample search
.sample-search {
  font-size: 16px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;

  p {
    font-weight: bold;
    margin: 0 20px 0 0;
  }

  a {
    display: block;
    margin-bottom: 5px;
  }
}

.sample-search-title {
  margin-right: 10px;
}

.sample-search-entries {
  margin-right: 20px;
}

h1.search-title {
  font-weight: normal;
}

// Price Buttons
.price-buttons {
  display: flex;
}

.price-button {
  input {
    display: none;
  }

  &:first-child .button {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &:last-child .button {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.button {
  padding: 8px 12px 9px 12px;
  min-width: 13px;
  font-size: 14px;
  border: 1px solid $border-color;
  background-color: white;
  cursor: pointer;
  text-align: center;
  margin-right: -1px;
  position: relative;

  .tooltip-wrapper {
    font-size: 12px;
    font-weight: bold;
    visibility: hidden;
    width: 150px;
    display: flex;
    justify-content: center;
    /* Position the tooltip */
    position: absolute;
    z-index: 2;
    bottom: 120%;
    left: 50%;
    margin-left: -75px;

    .tooltip {
      background-color: rgba(0,0,0,0.8);
      color: #fff;
      text-align: center;
      border-radius: 4px;
      padding: 10px;
    }
    
    // the triangle
    .tooltip::after {
      content: " ";
      position: absolute;
      top: 100%; /* At the bottom of the tooltip */
      left: 50%;
      margin-left: -8px;
      border-width: 8px;
      border-style: solid;
      border-color: rgba(0,0,0,0.8) transparent transparent transparent;
    }
  }

  &:hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
    .tooltip-wrapper {
      visibility: visible;
    }
  }
}

input:checked + .button {
  position: relative;
  z-index: 1;
  background-color: #c4f3a4;
  color: #348c42;
  border: 1px solid #348c42;
}
