.sample-search {
  font-size: 16px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;

  p {
    font-weight: bold;
    margin: 0 20px 0 0;
  }

  a {
    display: block;
    margin-bottom: 5px;
  }
}

.sample-search-title {
  margin-right: 10px;
}

.sample-search-entries {
  margin-right: 20px;
}

h1.search-title {
  font-weight: normal;
}

.price-buttons {
  display: flex;
}

.price-button input {
  display: none;
}

.button {
  padding: 10px;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
}

input:checked + .button {
  background-color: green;
}

input:focus + .button {
  box-shadow: 0 0 1px yellow;
}
