.session-header {
  background-color: $yelpy-red;
  height: 60px;
  padding: 12px 0;
  box-sizing: border-box;
}



.session-header-logo {
  margin: 0 auto;
  height: 36px;
  width: 77px;
}

.session-pic {
	width: 382px;
	height: auto;
	margin: 117px 0;
}
