// session header
.session-header {
  background-color: $yelpy-red;
  height: 60px;
  padding: 12px 0;
  box-sizing: border-box;
}

.session-header-logo {
  margin: 0 auto;
  height: 36px;
  width: 77px;
}

// session side picture
.session-pic {
	width: 382px;
	height: auto;
	margin: 60px 0;
}

// session form
.session-form-container {
  width: 70%;
}

p.subheading {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.session-form {
  margin: 30px auto;
}
