// session side picture
.session-pic {
	width: 382px;
	height: auto;
	margin: 60px 0;
}

// session form
.session-form-container {
  width: 70%;
}

p.subheading {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.session-form {
  margin: 50px auto;
}
