<!DOCTYPE html>
<html>
  <head>
    <title>Bara</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= javascript_include_tag 'application' %>

    <script src="https://use.fontawesome.com/bffa12558b.js"></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
